<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="Maisaengineering.github.com : Maisa blog" />
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/stylesheets/stylesheet.css">
		<title>Maisaengineering.github.com</title>
	</head>

  	<body>
	    <!-- HEADER -->
	    <div id="header_wrap" class="outer">
	    	<div class="porting_from">Porting this site from : maisaspride.blogspot.in ...</div>
	        <header class="inner">
	          <a id="forkme_banner" href="https://github.com/maisaengineering">View on GitHub</a>
	          <a href="/"><h1 id="project_title">Maisa Pride</h1></a>
	          <a href="/"><h2 id="project_tagline">Our Solutions to Your Needs</h2></a>
	        </header>
	    </div>

	    <!-- MAIN BODY -->
		<div id="main_content_wrap" class="outer">
		    <section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>

		<!-- FOOTER -->
		<div id="footer_wrap" class="outer">
		    <footer class="inner">
		    	<table>
		    		<td>
			            <div class="ft_aboutus">
			              	<div class="ft_abt_head">About Us</div>
			          		<div> 
			          		MaisaSolutions is web development company based in Hyderbad, India. <br/><br/>
			          		Interested in working with us, or have a question? <br/>
			          		Feel free to contact us anytime. 
			          		</div>
			          		<p style="color:white">© 2012 MaisaSolutions Pvt Ltd. All Rights Reserved.</p>
			            </div>
			        </td>
			        <td>
			            <div class="address_box">
			            	<div class="ft_contact_head">Contact Us</div>
							USA - <span class="light mrs">+1 (408) 868 4141</span><br/>
							IND - <span class="light mrs">+91 (40) 4017 7227</span>
							<a href="mailto:contact@maisasolutions.com" class="email-icon"></a>
							<a href="skype:cbenjaram?chat" class="skype-icon"></a>
							</span>
							<div>Mythri Apartments</div>
							<div>Opp: BSNL Exchange office</div>
							<div>Hyderabad 500062, India</div>
							<a href="" target="_blank">View on map</a>
				            <div class="socials mbl">
				              <a href="http://maisaengineering.github.com/" target="_blank" class="github-icon"></a>
				              <a href="http://www.facebook.com/maisasolutions" target="_blank" class="facebok-icon"></a>
				              <a href="https://twitter.com/maisasolutions" target="_blank" class="twitter-icon"></a>
				              <a href="https://vimeo.com/maisasolutions" target="_blank" class="vimeo-icon"></a>
				              <a href="http://www.flickr.com/photos/maisasolutions" target="_blank" class="flickr-icon"></a>
				            </div>
			            </div>
				    </td>
				</table>
			</footer>
		</div>
	</body>
</html>

    
