<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="Maisaengineering.github.com : Maisa blog" />
		<script type="text/javascript" src="/assets/javascripts/scroll_icons.js"></script>
		<script type="text/javascript" src="/assets/javascripts/jquery-1.6.1.min.js"></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?ver=3.5.1'></script> 
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/stylesheets/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/scroll_icons.css">
		<title>Maisaengineering.github.com</title>
	</head>



  	<body class="body_container">
	    <!-- HEADER -->
	    <div class="header_top_line"></div>
	    <div id="header_wrap" class="outer">
	        <header class="inner">
	          	<a id="forkme_banner" href="https://github.com/maisaengineering">View on GitHub</a>
	          	<a href="/"><span id="project_title">Maisa Solutions</span></a>
	          	<a href="/"><span id="project_tagline">Our Solutions to Your Needs</span></a>
	        
	        <!-- <div class="navContainer">
		     	<div class="navTab"><a href="#">Blog</a></div>
		      	<div class="navTab"><a href="#">About Us</a></div>
		      	<div class="navTab"><a href="#">Contact Us</a></div>
		    </div> -->
		    </header>
	    </div>


	    <!-- MAIN BODY -->
		<div id="main_content_wrap" class="outer">
		    <section id="main_content" class="inner">

				<div class="wrapper2">
					<ul id="contact-us-floating">
					  <li class="facebook">
					    <a href="https://www.facebook.com/MaisaSolutions" target="_blank" title="Maisa Solutions at Facebook"></a>
					    <div class="right-side"></div>
					  </li>
					  <li class="twitter">
					    <a href="https://twitter.com/maisasolutions" target="_blank" title="Maisa Solutions at Twitter"></a>
					    <div class="right-side"></div>
					  </li>
					  <li class="email">
					  	 <a href="https://maisasolutions.com/ContactUs" target="_blank" title="Contact Us"></a>
					    <div class="right-side"></div>
					  </li>
					  <li class="phone">
					  	<a href="https://maisasolutions.com/ContactUs" target="_blank" title="Contact Us"></a>
					    <div class="right-side"></div>
					  </li>
					</ul>
				</div>				

				{{ content }}
				
			</section>
		</div>

		<!-- FOOTER -->
		<div id="footer_wrap" class="outer">
		    <footer class="inner">
		    	<table>
		    		<td>
			            <div class="ft_aboutus">
			              	<div class="ft_abt_head">About Us</div>
			          		<div> 
			          		MaisaSolutions is Rails development company based in India. <br/><br/>
			          		Interested in working with us, or have a question? <br/>
			          		Feel free to contact us anytime. 
			          		</div>
			          		<p style="color:white">© 2013 MaisaSolutions Pvt Ltd. All Rights Reserved.</p>
			            </div>
			        </td>
			        <td>
			            <div class="address_box">
			            	<div class="ft_contact_head">Contact Us</div>
							USA: <span class="light mrs">+1 (408) 868 4141</span><br/>
							IND: <span class="light mrs">+91 (40) 4017 7227</span>
							<a href="mailto:contact@maisasolutions.com" class="email-icon"></a>
							<a href="skype:cbenjaram?chat" class="skype-icon"></a>
							</span>
							<div>ECIL, Mythri Apartments</div>
							<div>Hyderabad 500062, India</div>
							<a href="" target="_blank">View on map</a>
				            <div class="socials mbl">
				              <a href="http://maisaengineering.github.com/" target="_blank" class="github-icon"></a>
				              <a href="http://www.facebook.com/maisasolutions" target="_blank" class="facebok-icon"></a>
				              <a href="https://twitter.com/maisasolutions" target="_blank" class="twitter-icon"></a>
				              <a href="https://vimeo.com/maisasolutions" target="_blank" class="vimeo-icon"></a>
				              <a href="http://www.flickr.com/photos/maisasolutions" target="_blank" class="flickr-icon"></a>
				            </div>
			            </div>
				    </td>
				</table>
			</footer>
		</div>
	</body>
</html>

    
